:root {
    --color-100: #f5f5f5;
    --color-200: #d4d4d4;
    --color-300: #a3a3a3;
    --color-400: #525252;
    --color-500: #262626;
    --color-600: #171717;

    --light-red: #fecaca;
    --medium-red: #f87171;
    --dark-red: #991b1b;
    
    --fs-50: 0.825rem;
    --fs-100: 1.125rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
    --fs-500: 2rem;
    --fs-600: 2.25rem;

    --pad-xs: 4px;
    --pad-sm: 8px;
    --pad-md: 18px;
    --pad-lg: 32px;
    --pad-xl: 48px;
    
    --border-radius-sm: 10px;
    --border-radius-lg: 20px;

    --container-width: 1200px;

    --shadow: rgba(0, 0, 0, 0.1) 0px 1px 8px;
}


/* Resetting and Footer Support */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 16px;
    min-height: 100vh;
    position: relative;
}

body {
    margin-bottom: calc(var(--pad-xl) * 2);
}

/* Utils */

.container {
    max-width: var(--container-width);
}

button {
    padding: var(--pad-sm) var(--pad-md);
    font-size: var(--fs-200);
    font-weight: 700;

    cursor: pointer;
    outline: none;
    border: 2px solid var(--color-500);
    border-radius: var(--border-radius-lg);
}

button:hover {
    background: var(--color-200);
}

button:active {
    background: var(--color-600);
    color: var(--color-100);
}


/* Header */

.header {
    background: var(--color-400);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
}

.header .container {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: var(--pad-lg);
}

.logo {
    color: var(--color-100);
    font-size: var(--fs-400);
    font-family: 'Caprasimo', cursive;
}


/* Main (Add button and Books grid) */

.main {
    display: flex;
    flex-direction: column;
    gap: var(--pad-lg);
    padding: var(--pad-lg);

    margin-inline: auto;
}

.main .add-book-button-section {
    display: flex;
    justify-content: center;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--pad-xl);
}

.book-card {
    background: var(--color-200);
    padding: var(--pad-lg);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--pad-md);

    border-radius: var(--border-radius-sm);

    box-shadow: var(--shadow);
}

.book-card p {
    background: var(--color-100);
    width: 100%;
    text-align: center;
    padding: var(--pad-md);

    font-size: var(--fs-200);

    border-radius: var(--border-radius-sm);
}

.book-card .buttons {
    display: flex;
    flex-direction: column;
    gap: var(--pad-md);

    width: 100%;
    margin-top: var(--pad-lg);
}

.buttons .remove {
    background: var(--light-red);
}

.buttons .remove:hover {
    background: var(--medium-red);
}

.buttons .remove:active {
    background: var(--dark-red);
    color: var(--color-100);
}

.buttons .read {
    background: #a7f3d0;
}

.buttons .read:hover,
.buttons .not-read:hover {
    background: #d1fae5;
}

.buttons .not-read {
    background: var(--color-100);
}

.buttons .read:active,
.buttons .not-read:active {
    background: #6ee7b7;
    color: var(--color-600);
}


/* Footer */

.footer {
    background: var(--color-300);
    width: 100%;
    height: 8vh;
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pad-xl);
}

.footer .copyright {
    font-size: var(--fs-300);
    font-family: 'Caprasimo', cursive;

    display: flex;
    gap: var(--pad-sm);
    align-items: center;
    justify-content: center;
}

.copyright .symbol {
    font-weight: bold;
    margin-top: var(--pad-xs);
}


/* Form and Modal */

.blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);

    display: none;
}

.blur-layer.active {
    display: block;
}

.modal {
    background: var(--color-400);
    color: var(--color-100);
    border: 3px solid var(--color-600);
    border-radius: var(--border-radius-lg);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pad-md);
    
    padding: var(--pad-lg);

    max-width: 400px;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);
    transition: all .2s ease-in-out;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal .close {
    position: absolute;
    top: 4px;
    right: 8px;
    padding: var(--pad-xs) var(--pad-sm);
    border: none;
    background: inherit;
    color: var(--medium-red);
}

.modal .close:hover {
    color: var(--light-red);
}

.modal h2 {
    font-size: var(--fs-400);
}

.error-msg {
    color: rgb(202, 119, 119);
    font-size: var(--fs-100);
    font-weight: 550;
    text-align: center;
    margin-bottom: var(--pad-sm);
    max-width: 26ch;

    display: none;
}

.error-msg.active {
    display: block;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: var(--pad-md);
}

.input {
    padding: var(--pad-sm);
    outline: none;
    border: none;
    border-radius: var(--border-radius-sm);

    font-size: var(--fs-200);
    font-weight: 600;
    color: var(--color-500);
}

.is-read-container {
    display: flex;
    gap: var(--pad-sm);
    margin-block: var(--pad-sm);
}

input[type="checkbox"] {
    height: var(--fs-200);
    width: var(--fs-200);
    accent-color: var(--color-100);
    cursor: pointer;
}

.is-read-label {
    font-size: var(--fs-100);
    font-weight: 600;
}